<!DOCTYPE html>
<html>
<head>
 <title>AI Fake Job Detector</title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>
<body>
    <header>
        <h1 align="center">AI Fake Job Posting Detector</h1>
        <nav>
    
    
    <div><a href="/detect">Analyze Job</a></div>
    

    <div id="logoutLink" style="display:none;"><a href="#" onclick="logout()">Logout</a></div>
        </header>
    <section class="hero">

        <h2>Detect Fake Job Postings Instantly</h2>
        <p>
            Protect yourself from online job scams using Artificial Intelligence
        </p>
        <img src="https://cdn-icons-png.flaticon.com/512/942/942748.png" width="200"> 
    </section>
</body>
</html>